<h2>Edit Car</h2>


<%= form_for(@car) do |f| %>

Make & Model:
<%= f.text_field :name %>

Type:
<%= f.text_field :car_type %>

Year:
<%= f.text_field :year %>

Color:
<%= f.text_field :color %>

Performance:
<%= f.text_field :performance %>

Sun Roof:
<%= f.text_field :sunroof %>

Seat Heaters:
<%= f.text_field :seat_heaters %>

<%= f.submit 'edit!' %>
<% end %>
