
<h2> <%= @car.name %> </h2>

<ul>
  <li> <%= image_tag image_path(@car.image_url), width: 400 %></li>

  <li><b>Year:</b> <%= @car.year %></li>

  <li><b>Body:</b> <%= @car.body.try(:description) %></li>

  <li><b>Color:</b> <%= @car.color %></li>

  <li><b>Engine:</b> <%= @car.engine.try(:description) %> - <%= @car.engine.try(:fuel) %></li>

  <li><b>Performance:</b> <%= @car.performance %> hp</li>

  <li><b>Sun Roof:</b> <%= yesno(@car.sunroof) %></li>

  <li><b>Seat Heaters:</b> <%= yesno(@car.seat_heaters) %></li>
</ul>

<nav>
  <%= link_to 'edit', edit_car_path(@car) %>
  <%= link_to 'delete', @car, method: :delete, data: { confirm: 'Are you sure?'} %>
</nav>
