<!DOCTYPE html>
<html>
<head>
  <title>GA MC</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<h1> General Assembly Motor Company </h1>

<div class="navbar navbar-inverse">
  <div class="navbar-inner">
    <a class="brand" >GA MC</a>
    <ul class="nav">
      <li><%= link_to 'View Cars', cars_path %></li>
      <li><%= link_to 'Add Car', new_car_path %></li>
    </ul>
  </div>
</div>


<%= yield %>

</body>
</html>
