<!DOCTYPE html>
<html>
<head>
  <title>GA MC</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<h1> General Assembly Motor Company </h1>

<p>
  <%= link_to 'All Cars', cars_path %>
  <%= link_to 'Add Car', new_car_path %>
</p>

<%= yield %>

</body>
</html>
